@charset "UTF-8";

/* --------------------------------
 * tag
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background-color: #f6f7fb;
  color: #333;
  font-size: 20px;
  font-family: 'Noto Serif', serif;
}
a{
  text-decoration: none;
}
h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
table {
  width: 400px;
  height: 380px;
  table-layout: fixed;
  border-collapse:collapse;
  
}
td {
  width: 20px;
  height: 20px;
  text-align: center;
  border: dotted 1px #90a4ff; 
}
section {
  margin: 20px 20px;
  display: block;
}
/* --------------------------------
 * class
 * -------------------------------- */
.container{
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.explain{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}
.diff-level{
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}
.l-lu{
  border-left:#3923ff solid 2px;
  border-top:#3923ff solid 2px;
}
.l-u{
  border-top:#3923ff solid 2px;
}
.l-ur{
  border-top:#3923ff solid 2px;
  border-right:#3923ff solid 2px;
}
.l-l{
  border-left:#3923ff solid 2px;
}
.l-r{
  border-right:#3923ff solid 2px;
}
.l-dl{
  border-left:#3923ff solid 2px;
  border-bottom:#3923ff solid 2px;
}
.l-d{
  border-bottom:#3923ff solid 2px;
}
.l-rd{
  border-right:#3923ff solid 2px;
  border-bottom:#3923ff solid 2px;
}
.input-prop{
  width: 20px;
  height: 20px;
  color: rgb(31, 56, 138);
  outline: none;
  text-align: center;
}
.input-prop-df{
  width: 30px;
  height: 30px;
  color:rgb(161, 49, 189);
  outline: none;
  text-align: center;
}
.header{
  background-color:  #333;
  height: 30px;
}
.main-nav{
/*  display: flex; */
  text-align: right;
  font-size: 16px;
  text-transform: uppercase;
  padding-top:4px;
  margin-right: 50px;
  list-style: none;
}
.main-nav a{
  color: rgb(134, 134, 134);
}
.main-nav a:hover{
  color: #f6f7fb;
}
.contact-main{
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}
.contact-form{
  height: 200px;
  width: 780px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.contact-name input{
  width: 780px;
  background-color:rgb(255, 255, 255);
  border-color: rgb(134, 134, 134);
  border: 1px solid rgb(134, 134, 134);
}
.contact-name input:focus{
  outline: none;
}
.contact-name label::after{
  color:rgb(255, 255, 255);
  font-size: 12px;
  content: '任意';
  background-color:rgb(134, 134, 134);
  padding: 1px 3px;
  margin-left: 5px;
}
.contact-mail input{
  width: 780px;
  background-color:rgb(255, 255, 255);
  border-color: rgb(134, 134, 134);
  border: 1px solid rgb(134, 134, 134);
}
.contact-mail input:focus{
  outline: none;
}
.contact-mail label::after{
  color:rgb(255, 255, 255);
  font-size: 12px;
  content: '任意';
  background-color: rgb(134, 134, 134);
  padding: 1px 3px;
  margin-left: 5px;
}
.contact-content textarea{
  height: 150px;
  width: 780px;
  background-color:rgb(255, 255, 255);
  border: 1px solid rgb(134, 134, 134);
}
.contact-content textarea:focus{
  outline: none;
}
.contact-content label::after{
  color:rgb(255, 255, 255);
  font-size: 12px;
  content: '必須';
  background-color: #ee6557;
  padding: 1px 3px;
  margin-left: 5px;
}
.contact-submit input{

  background-image: linear-gradient(180deg, #525252, #e5f4fc);
  width: 150px;
  margin-left: 315px;
}
.contact-submit input:hover{
  background-image: linear-gradient(180deg, #8b68db, #e5f4fc);
}
.contact-submit input:focus{
  outline: none;
}